#header {
    background-image: url('cidade-header.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: transparent;
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #008000;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
